<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homework-1</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="myApp">
    <comp-header ref="header"></comp-header>

    <main class="main">
      <comp-products ref="goods"></comp-products>
    </main>

    <comp-footer></comp-footer>

    <!-- <header class="header">
      <div class="container">
        <div class="header-wrapper">
          <div :class="{ headerBasketActive: basketIsActive }" class="header-basket">
            <div class="header-basket-product">
              <div v-for="(item, index) in cartItems" :key="item.id_product" class="basket-product">
                <div class="basket-image">
                  <img :src="imgCartProduct" :alt="item.product_name">
                </div>
                <p class="basket-product-title">
                  {{ item.product_name }}
                </p>
                <p class="basket-product-quantity">
                  {{ item.quantity }}
                </p>
                <p class="basket-product-price">
                  {{ item.price }}
                </p>
                <button @click="remove(item, index)" class="basket-delete-product">&times;</button>
              </div>
            </div>
            <p v-if="cartItems.length == 0">Корзина пуста</p>
            <div v-else class="basket-total">Итого: {{ getTotalSum }}<span></span></div>
          </div>

          <div class="header-logo">
            <img src="http://placehold.it/50x50" alt="Логотип">
          </div>

          <div class="header-menu">
            <ul class="header-ul">
              <li v-for="el of headerLinks" class="header-li"><a href="#" class="header__link">{{ el }}</a></li>
            </ul>
          </div>

          <div class="header-search">
            <form>
              <input v-model="searchLine" class="input-search" type="text" value="" placeholder="Поиск">
              <input @click.prevent="filter(searchLine)" class="submit-btn" type="submit" value="Go">
            </form>
          </div>

          <button @click="basketIsActive = !basketIsActive" class="basket-btn">
            Корзина
          </button>
        </div>
      </div>
    </header> -->
  
    <!-- <main class="main">
      <section class="product">
        <div class="container">
          <div class="product-wrapper"> -->

            <!-- <product-comp></product-comp> -->

            <!-- <div class="product-block" v-for="(good, index) in filteredGoods" :key="good.id_product">
              <div class="product-block-img">
                <img :src="imgProduct" :alt="good.product_name">
              </div>
              <div class="product-block-content">
                <h2 class="product-block-title">
                  {{ good.product_name }}
                </h2>
                <p class="product-block-desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, at.
                </p>
                <div class="product-block-quantity">
                  <p class="product__price">
                    {{ good.price }}
                  </p>
                  <div class="product-quant">
                    <button @click="addQuantity(good.quantity, index)" class="item-minus">-</button>
                    <span>{{ good.quantity }}</span>
                    <button @click="good.quantity++" class="item-plus">+</button>
                  </div>
                  <div @click="addProductCart(good)" class="product-add-basket">
                    <img src="images/shopping-basket.svg" alt="В корзину">
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>
  
    </main> -->

  

  </div>
  
  <!-- <script src="app.js"></script>
  <script src="lesson-3.js"></script>
  <script src="lesson-4.js"></script> -->
  <script src="vue.js"></script>
  <!-- <script src="myScriptVue.js"></script> -->
  <script src="lesson-6/api-link.js"></script>
  <script src="lesson-6/search-comp.js"></script>
  <script src="lesson-6/cart-comp.js"></script>
  <script src="lesson-6/header-comp.js"></script>
  <script src="lesson-6/product.js"></script>
  <script src="lesson-6/productsAll.js"></script>
  <script src="lesson-6/footer-comp.js"></script>
  <script src="lesson-6/mainVue.js"></script>
</body>
</html>